<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>In closing...</title>
    <link rel="stylesheet" href="stylesheet.css" type="text/css" media="all" />
    <link rel="stylesheet" href="fonts.css" type="text/css" media="all" />
    <link rel="stylesheet" href="print.css" type="text/css" media="print" />
  </head>
  <body>
    <div class="smaller">
      <p>This E-Book was produced with epubbery. For more information, visit:
        http://github.com/jlapier/epubbery</p>
        
      <p>To help disseminate this e-book, use the link: http://OpenBookFiction.com/epub</p>

      <p>
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">EPUB: What, Why, and How</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://openbookfiction.com/epub" property="cc:attributionName" rel="cc:attributionURL">Jason LaPier</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/jlapier/epub_what_why_how" rel="dct:source">github.com</a>.</p>

      <p><strong>This e-book is DRM free.</strong> DRM stands for <em>Digital Rights Management</em>.
      Basically, it's the stuff that some companies use to protect digital media (such as e-books, 
          music/audio files, DVD, and so on) from being copied and redistributed. 
      It's technology that replaces trust.</p>

    </div>
  </body>
</html>
